<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a [routerLink]="['']" class="navbar-item">Hackers-HomeAuto</a>
    <a
      role="button"
      class="navbar-burger"
      [class.is-active]="this.menuIsOpen"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarMain"
      (click)="this.toogleMenu()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMain" class="navbar-menu" [class.is-active]="this.menuIsOpen">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['']">Nodes</a>
      <a class="navbar-item" [routerLink]="['roomsight']">RoomSight</a>
    </div>
    <div
      [class.is-active]="this.configIsOpen ? true : undefined"
      class="navbar-item has-dropdown is-hoverable"
    >
      <a class="navbar-link" (click)="configToogle()">Node Config</a>
      <div class="navbar-dropdown">
        <a class="navbar-item" [routerLink]="['/configurations']">Settings</a>
        <a href="#" class="navbar-item">Notifications</a>
        <a href="#" class="navbar-item">About</a>
      </div>
    </div>
  </div>
  <div class="navbar-end"></div>
</nav>
